*.xml
*.prj
*.slxc

Stefano/slprj/_jitprj/

Stefano/slprj/_sfprj/EMLReport/sjQRKWPfOqovQn3i39EppuH.mat

Stefano/slprj/_sfprj/precompile/COcmncw5vcHfYI0RitqSTF.mat

Stefano/slprj/_sfprj/precompile/Vg3H2NaXgdDsScgfNcWhKE.mat

Stefano/slprj/_sfprj/window_discriminator_7/_self/sfun/info/binfo.mat

Stefano/slprj/_sfprj/window_discriminator_7/amsi_serial.mat

Stefano/slprj/sim/varcache/window_discriminator_7/checksumOfCache.mat

Stefano/slprj/sim/varcache/window_discriminator_7/varInfo.mat
